html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: "inter";
}

/* Header Sectioon */

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 200;
}

.logo {
  padding: 0px 50px;
}

.menu ul {
  list-style: none;
  margin: auto;
}

.menu li {
  float: left;
  font-size: 16px;
  padding: 10px;
}

.menu li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: 400;
}

.menu li a:hover {
  background-color: #f3f3f3;
}

.action {
  display: flex;
  gap: 20px;
}

.action a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  color: black;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 2px;
  border: 1px solid white;
}

.action a:hover {
  border: 1px solid black;
}

.action {
  padding: 0px 20px;
}

/* Intro Section */

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro .content .name {
  font-size: 72px;
}

.intro .content .subtitle {
  font-size: 24px;
}

.intro .content .scroll-icon {
  position: absolute;
  bottom: 15%;
  left: calc(50% - 20px);
}

/* About Section */

.about {
  scroll-margin-top: 100px;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.about .content {
  max-width: 1000px;
  padding: 50px;
  margin: auto;
}

.about .content .title {
  font-size: 36px;
  font-weight: 400;
  padding: 50px 0px 30px 0px;
}

.about .content .title .text {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about .content .title .text span {
  z-index: 2;
  background-color: #f2f2f2;
  padding: 0px 20px;
}

.about .content .title hr {
  position: relative;
  transform: translateY(-40px);
  z-index: 0;
}

.about .description {
  display: flex;
  gap: 100px;
  align-items: start;
}

.about .description .text span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}

.about .description .image img {
  border-radius: 5px;
}

/* Contact Section */

.contact {
  scroll-margin-top: 100px;
}

.contact .content {
  max-width: 1000px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: auto;
}

.contact .content .title {
  font-size: 36px;
  font-weight: 400;
  padding: 50px 0px 30px 0px;
}

.contact .content .title .text {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact .content .title .text span {
  z-index: 2;
  background-color: white;
  padding: 0px 20px;
}

.contact .content .title hr {
  position: relative;
  transform: translateY(-40px);
  z-index: 0;
}

.contact .description .text {
  width: 50%;
  margin: auto;
  text-align: center;
}

.contact .description .text span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}

.contact .description .action {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.contact .description .social a {
  text-decoration: none;
  padding: 0px 10px;
}
